.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
	font-family: sans-serif;	
	color: teal;
	font-size: 16px;
}

.menu {
	position: absolute;
	width: 100%;
	text-align:center;
}

#logo {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	display: block;
	height: auto;
}

p {
	margin:20px;
}

.menu-item {
	display: inline !important;
	font-size:22px;
	padding: 0px;
}

.cartoonpicture {
	float:left;
	margin-left:100px;
}

#wrap {
	width:100px;
	margin:auto;
}



.tab-content {
	width: 100%;
	display:none;
	height:100%;
 
}

.formdiv {
	width: 40%;
	display:inline-block;
	margin:35px;
	font-size:18px;
	color:blue;
	padding:10px;
}
.people {
	margin:5px;
}
.pplbuttons {
	width:15%;
	display:inline-block;
	margin-left:100px;
}

.stuff {
	font-size: 22px;
}
#admin {
	margin:auto;
	width:300px;
	height:auto;
	color:red;
}
#home { 
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	display:none;
	font-size:22px;
	height:100%;
    -webkit-column-count: 1 !important; /* Chrome, Safari, Opera */
    -moz-column-count: 1 !important; /* Firefox */
    column-count: 1 !important;
}
#logo {
	margin:auto;
	width:50%;
}
#form { 
	margin:auto;
	width:90%;
}

.nav-wrap {   
	width:100%;
	height:25px;
	margin: 50px;
	text-align: center;
}
.content {
	width:100%;
	/*margin:20px;*/
	height:100%;	
}
.tab {
	width:100%;
	height:100%;
}

#title-blurb {
	padding:5px;
}

